<article style="padding: 5px; margin: 10px; border: 2px solid #f2f2f2">
  <header style="font-size: 1.4rem; font-weight: bold">
    <%= post.title %>
  </header>

  <main>
    <%= post.body %>
  </main>
</article>